<?xml version='1.0' encoding='utf-8'?>
<widget id="org.chabih.acceleration" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>acceleration</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<preference name='phonegap-version' value='cli-7.0.1' />
	
    <preference name="android-targetSdkVersion" value="27" />
	
	<plugin name="cordova-plugin-device-motion" source="npm"/>
	<plugin name="de.appplant.cordova.plugin.local-notification"/>
</widget>
